[submodule ".emacs.d/lib/column-marker"]
	path = .emacs.d/lib/column-marker
	url = https://github.com/emacsmirror/column-marker
[submodule ".emacs.d/lib/color-theme-molokai"]
	path = .emacs.d/lib/color-theme-molokai
	url = git://github.com/alloy-d/color-theme-molokai.git
