[user]
	name = Dan McKinley
	email = mcfunley@gmail.com
[core]
	editor = /usr/local/Cellar/emacs/HEAD/bin/emacsclient
	excludesfile = /Users/dmckinley/.gitignore-global
[push]
	default = simple
[alias]
	rpull = pull --rebase
	srpull = "!git stash && git rpull && git stash pop"
	lg = "!git --no-pager log --oneline origin..HEAD"
[include]
	path = /Users/dmckinley/.gitconfig-secrets
[github]
	user = mcfunley
